*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Marcellus;
}

.card {
  background-color: white;
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 30px auto;
  flex: 1;
}

.resume-template {
  box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 0 34px;
  width: 100%;
  margin: 30px auto;
  flex: 2;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}